{
        "target": "linux/amd64",
        "http": "0.0.0.0:56741",
        "workdir": "/home/user/workdir",
        "kernel_obj": "/home/user/linux",
        "image": "/home/user/image/trixie.img",
        "syzkaller": "/home/user/syzqdisc",
        "sshkey": "/home/user/image/trixie.id_rsa",
        "max_crash_logs": 3,
        "reproduce": false,
        "sandbox": "namespace",
        "enable_syscalls": [
        "syz_addqdisc_root_drr",
        "syz_addqdisc_root_ets",
        "syz_addqdisc_root_hfsc",
        "syz_addqdisc_root_htb",
        "syz_addqdisc_root_prio",
        "syz_addqdisc_root_qfq",
        "syz_addqdisc_cake",
        "syz_addqdisc_cbs",
        "syz_addqdisc_netem",
        "syz_addqdisc_red",
        "syz_addqdisc_sfb",
        "syz_addqdisc_tbf",
        "syz_addclass_drr",
        "syz_addclass_ets",
        "syz_addclass_hfsc",
        "syz_addclass_htb",
        "syz_addclass_prio",
        "syz_addclass_qfq",
        "syz_changeqdisc_cbs",
        "syz_changeqdisc_cake",
        "syz_changeqdisc_netem",
        "syz_changeqdisc_tbf",
        "syz_changeqdisc_ets",
        "syz_changeqdisc_red",
        "syz_changeqdisc_sfb",
        "syz_changeqdisc_prio",
        "syz_delclass",
        "syz_delqdisc",
        "syz_sendprio_drr",
        "syz_sendprio_ets",
        "syz_sendprio_hfsc",
        "syz_sendprio_htb",
        "syz_sendprio_prio",
        "syz_sendprio_qfq"
        ],
        "procs": 1,
        "type": "qemu",
        "cover_filter": {
        "files": [
                "^net/sched/sch_api.c$",
                "^net/sched/sch_cake.c$",
                "^net/sched/sch_cbs.c$",
                "^net/sched/sch_drr.c$",
                "^net/sched/sch_generic.c$",
                "^net/sched/sch_ets.c$",
                "^net/sched/sch_hfsc.c$",
                "^net/sched/sch_htb.c$",
                "^net/sched/sch_netem.c$",
                "^net/sched/sch_prio.c$",
                "^net/sched/sch_qfq.c$",
                "^net/sched/sch_red.c$",
                "^net/sched/sch_sfb.c$",
                "^net/sched/sch_tbf.c$"
                ]
        },
        "vm": {
                "count": 32,
                "kernel": "/home/user/linux/arch/x86/boot/bzImage",
                "cpu": 2,
                "mem": 2048
        }
}
